# IDEA files
/.idea/
/out/
/*.iml
*.class
*.log
.settings/
/data/

# Gradle build files
/.gradle/
/build/
*.jar
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

/text-ui-test/ACTUAL.TXT
text-ui-test/EXPECTED-UNIX.TXT

# VS Code
/.vscode/
