# IDEA files
/.idea/
/out/
/*.iml

# VS Code files
/.vscode/

# Gradle build files
/.gradle/
/build/
src/main/resources/docs/

# MacOS custom attributes files created by Finder
.DS_Store
*.iml
bin/

# Save data
.rumi_data
.rumi_data_SAVEFILE_TEST_INPUT
.rumi_data_SAVEFILE_TEST_OUTPUT
.rumi_data_SAVEFILE_TEST_OUTPUT_EXPECTED

# TUI Test program output
/tui-test/ACTUAL.txt

# Utility script
test.sh