.label {
  -fx-background-color:  #faedca;
  -fx-border-color: white;
  -fx-border-width: 3px;
  -fx-background-radius: 1em 1em 0 1em;
  -fx-border-radius: 1em 1em 0 1em;
  -fx-padding: 8px;
  -fx-border-insets: 0px 7px 0px 7px;
  -fx-background-insets: 0px 7px 0px 7px;
  -fx-font-size: 14px;
}

.reply-label {
  -fx-background-radius: 1em 1em 1em 0;
  -fx-border-radius: 1em 1em 1em 0;
  -fx-font-size: 14px;
}

#displayPicture {
  /* Shadow effect on image. */
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);

  /* Change size of image. */
  -fx-scale-x: 1;
  -fx-scale-y: 1;

  /* Rotate image clockwise by degrees. */
  -fx-rotate: 0;
  -fx-background-size: cover;
  -fx-background-position: center;
  -fx-background-radius: 50%;
  -fx-border-radus: 50%;
  -fx-min-width: 100px;         
  -fx-min-height: 100px;
  -fx-max-width: 100px;
  -fx-max-height: 100px;
}
