{
    "java.format.settings.url": ".vscode/java-formatter.xml",
    "java.checkstyle.configuration": "${workspaceFolder}/config/checkstyle/checkstyle.xml",
    "java.checkstyle.properties": {
        "config_loc": "${workspaceFolder}/config/checkstyle"
    }  ,
    "files.exclude": {
        "**/.classpath": true,
        "**/.project": true,
        "**/.settings": true,
        "**/.factorypath": true
    },
    "editor.suggestSelection": "first",
    "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
    "java.configuration.updateBuildConfiguration": "interactive",
    "java.jdt.ls.java.home": "<insert path here, possibly from echo $JAVA_HOME>",
    "java.configuration.runtimes": [
        {
          "name": "JavaSE-17",
          "path": "<insert path here, possibly from echo $JAVA_HOME>",
          "default": true
        }
    ]
}